.content-section.gallery{
    width: 100vw;
}

.gallery .gallery-section{
    position: relative;
    width: 100%;
}

.gallery .full-bg{
    background-clip: content-box;
    background-attachment: fixed;
}

.gallery .black-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 60%;
}

.gallery h3{
    color: white;
    font-family: "Doppelganger";
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    align-items: flex-end;
    text-align: right;
}



/* ----------------------------------------------------------------------- */




/* PHOTO COLLECTIONS */

.photo-section .content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* .gallery .anim-bg.yellow-bg{
    background-image: url(../img/gallery-yellow-0.png);
    background-position: 0 -1500px;
    opacity: 40%;
} */

.gallery .full-bg.photo-section{
    background-image: url(../img/flower-section.png);
    background-position: center;
}

.photo-section .photo-collection{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-collection.flower{
    align-self: flex-start;
}

.photo-collection .poster-hover{
    display: none;
    height: 100%;
    align-items: flex-end;
    writing-mode: vertical-rl;
}

.photo-collection img{
    width: 100%;
    opacity: 100%;
    outline: 2px solid white;
    outline-offset: 4px;
}

.photo-collection .poster:hover img{
    opacity: 0%;
}

.photo-collection .poster:hover .poster-hover{
    display: flex;
}

.photo-collection .line-2{
    border-left-color: white;
    position: absolute;
}


/* ------------------------------------------------------------------------- */



/* ART GALLERY */

.gallery .full-bg.art-section{
    background-image: url(../img/art-section-bg.png);
}

.art-section section{
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
}

.art-section .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    writing-mode: vertical-rl;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.art-section img{
    width: 50%;
}

.art-section h1{
    color: #F9B800;
    align-self: flex-start;
    transition: 0.3s;
}

.art-section h1 span{
    display: block; 
}

.art-section .content:hover h1{
    color: white ;
}



/* -------------------------------------------------------------------- */



/* FASHION & SKETCH */

.gallery-section:last-child{
    display: flex;
}

.half-section{
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fashion-section{
    background-image: url(../img/fashion-section-bg.png);
    background-position: top left;
}

.sketch-section{
    background-image: url(../img/sketch-section-bg.jpg);
    background-position: top right;
}

.half-section h3{
    margin: 0;
}

.sketch-section .black-bg{
    opacity: 55%;
    transition: 0.3s;
}

.gallery-cont{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    transition: 0.3s;
}

.gallery-cont .line-2{
    border-left-color: white;
}


.half-section:hover .gallery-cont{
    backdrop-filter: blur(5px);
}
.fashion-section:hover .black-bg{
    opacity: 75%;
}
.sketch-section:hover .black-bg{
    opacity: 70%;
}





/* ----------------------------------------------------------0 */



/* MEDIA QUERY */

/* estructura movil */

@media screen and (max-width:721px){

    /* -------------------------------- fashion & sketch */

    .gallery-section:last-child{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }

    .gallery .half-section{
        width: 100%;
        height: 50vh;
    }

    .gallery .half-section h3{
        writing-mode: horizontal-tb;
        text-align: right;
        display: flex;
        right: 0;
    }

    .gallery-cont{
        top: 0;
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }
}


/* ------------------- movil */

@media screen and (max-width: 721px) {
    
    .gallery h3{
        font-size: 2.3rem;
        line-height: 0.7;
    }


    /* ------------------------------------------ */

    /* PHOTO COLLECTIONS */

    .photo-section .content{
        padding: 80px 10px 350px 20px;
    }

    .photo-collection.flower{
        margin-top: 80px;
    }

    .photo-collection .line-2{
        bottom: -180px;
        height: 150px;
    }



    /* ---------------------------------------------------- */

    /* ART GALLERY */

    .art-section .content{
        padding-top: 220px;
    }

    .art-section .content img{
        width: 70%;
        margin-left: -50px;
    }

    .art-section h1{
        font-size: 4.2rem;
        line-height: 0.75;
        margin-left: -20px;
        padding-top: 40px;
    }



    /* -------------------------------------------------------------- */

    /* FASHION & SKETCH */

    

    .gallery .half-section h3{
        font-size: 3rem;
        line-height: 0.7;
    }

    .gallery-cont{
        padding: 20px;
    }

    .fashion-section{
        background-size: cover 50vh;
        background-position: top center;
    }

    .sketch-section{
        background-size: cover 50vh;
        background-position: top;
    }

    .gallery-cont .line-2{
        flex-grow: 1;
        margin:15px 50px 30px 0;
    }
}

@media screen and (max-width:500px){
    .photo-section .photo-collection{
        width: 160px;
    }
}


@media screen and (min-width:500px){

    .photo-section .content{
        padding-left: 40px;
        padding-right: 30px;
    }
    .photo-section .photo-collection{
        width: 200px;
    }

    .photo-collection.flower{
        margin-top: -80px;
    }
}



/* estructura pantalla grande */

@media screen and (min-width:721px){

    /* -------------------------------- fashion & sketch */

    .gallery-section:last-child{
        width: 100vw;
        flex-direction: row;
    }

    .gallery .half-section{
        width: 50vw;
        height: 100%;
    }

    .gallery .half-section h3{
        text-align: initial;
        display: flex;
        right: initial;
    }

    .gallery-cont{
        top: 0;
        width: 100%;
        height: 100vh;
        flex-direction: row;
        writing-mode: vertical-lr;
        align-items: center;
        justify-content: flex-end;
    }
}


/* ------------------- tablet */

@media screen and (min-width: 721px) {
    
    .gallery h3{
        font-size: 2.5rem;
    }


    /* ------------------------------------------ */

    /* PHOTO COLLECTIONS */

    .photo-section .content{
        padding-bottom: 350px;
        padding-left: 0;
        padding-right: 0;
    }

    .photo-section .photo-collection{
        width: 250px;
    }

    .photo-collection.flower{
        margin-top: -80px;
    }

    .photo-collection .line-2{
        bottom: -220px;
        height: 180px;
    }



    /* ---------------------------------------------------- */

    /* ART GALLERY */

    .art-section .content{
        padding-top: 220px;
        margin-left: -100px;
    }

    .art-section h1{
        font-size: 6rem;
        line-height:0.75;
        padding-top: 120px;
    }



    /* -------------------------------------------------------------- */

    /* FASHION & SKETCH */

    .half-section{
        width: 50vw;
    }

    .fashion-section{
        background-size: 500px;
    }

    .sketch-section{
        background-size: 650px;
    }

    .half-section h3{
        font-size: 3rem;
        padding: 40px 0 0;
    }

    .gallery-cont{
        padding-bottom: 40px;
    }

    .gallery-cont .line-2{
        height: 100px;
    }
}





/* ------------------- laptop */

@media screen and (min-width: 1024px) {
    
    .gallery h3{
        font-size: 3rem;
    }


    /* ------------------------------------------ */

    /* PHOTO COLLECTIONS */

    .photo-section .content{
        padding-bottom: 500px;
    }

    .photo-section .photo-collection{
        width: 300px;
    }

    .photo-collection.flower{
        margin-top: -100px;
    }

    .photo-collection .line-2{
        bottom: -280px;
        height: 220px;
    }



    /* ---------------------------------------------------- */

    /* ART GALLERY */

    .art-section .content{
        min-height: 100vh;
        padding-top: 380px;
        margin-left: -100px;
    }

    .art-section h1{
        font-size: 7.5rem;
        line-height:0.75;
        padding-top: 120px;
    }



    /* -------------------------------------------------------------- */

    /* FASHION & SKETCH */

    .half-section{
        width: 50vw;
    }

    .fashion-section{
        background-size: 800px;
    }

    .sketch-section{
        background-size: 800px;
    }

    .half-section h3{
        font-size: 4.2rem;
        padding: 40px 0;
    }

    .gallery-cont{
        padding-bottom: 40px;
    }

    .gallery-cont .line-2{
        height: 150px;
    }
}

@media screen and (min-width:1290px){
    .photo-section .photo-collection{
        width: 350px;
    }
}


/* ------------------- monitor */

@media screen and (min-width: 1580px) {
    
    .gallery h3{
        font-size: 3.5rem;
    }


    /* ------------------------------------------ */

    /* PHOTO COLLECTIONS */

    .photo-section .content{
        padding-bottom: 500px;
    }

    .photo-section .photo-collection{
        width: 400px;
    }

    .photo-collection.flower{
        margin-top: -100px;
    }

    .photo-collection .line-2{
        bottom: -300px;
        height: 250px;
    }



    /* ---------------------------------------------------- */

    /* ART GALLERY */

    .art-section .content{
        padding-top: 400px;
        margin-left: -100px;
    }

    .art-section h1{
        font-size: 8rem;
        line-height: 0.7;
        padding-top: 100px;
    }



    /* -------------------------------------------------------------- */

    /* FASHION & SKETCH */

    .half-section{
        width: 50vw;
    }

    .fashion-section{
        background-size: 1000px;
    }

    .sketch-section{
        background-size: 1000px;
    }

    .half-section h3{
        font-size: 5rem;
        padding: 40px 0;
    }

    .gallery-cont{
        padding-bottom: 100px;
    }

    .gallery-cont .line-2{
        height: 200px;
    }
}