*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@font-face{
    font-family: "Doppelganger";
    src:url("../fonts/Doppelganger.otf") format("opentype");
}

header{
    width: 100vw;
    position: relative;
}

header .header-frame-1{
    position: absolute;
    z-index: -1;
    top:0;
    left: 50px;
    height: 100vh;
    border-left: 20px solid #F9B800;
}

header .header-img{
    position: relative;
    width: 100vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .header-img h1 {
    position: absolute;
    font-family: "Doppelganger", "Inspiration", serif;
    text-transform: capitalize;
    font-size: 15em;
    z-index: 1;
    color: #FFF2BB;
    font-weight: 300;
    right: 30px;
}

header .header-img h1 span{
    font-family: "Inspiration", serif;
}

header .header-img .header-frame-2{
    position: absolute;
    top:50px;
    left: 50px;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    border-left: 20px solid white;
    border-top: 20px solid white;
    z-index: 0;
}


header .menu {
    padding: 20px 30px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

header .menu li{
    width: 150px;
    list-style: none;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #FFF2BB;
    text-align: end;
    transition: 0.3s;
}

header .menu li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

header .menu li:hover{
    width: 170px;
    background-color: #fff8da;
}