/* *{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
} */

/* dafjd */

.home .header-img{
    background-image: url(../img/flor1.png);
}

.home ul .select-home{
    width: 170px;
    background-color: #F9B800;
    box-shadow: 1px 5px 10px  rgba(170, 170, 170, 0.25);
}