/* COLORS */

.design h1, .design h2{ color: #72001e; }
.design p span.highlight{ color: #EF3581; }
.web-design h1, .web-design .line-1, .web-design p span.highlight{ color: #42E5BE; }
.web-design h2{ color:#464468; }
.art h1{ color: #F9B800; }
.art p span.highlight{ color: #FFF2BB; }
.other-projects h1{ color: #7345A0; }
.other-projects p span.highlight{ color: #ca39fb; }
.other-projects h2{ color: #464468; }


/* --------------------------------------------------------------------------------------- */



/* SECTIONS */

/* DESIGN  */

section.design{
    position: relative;
    height: fit-content;
}

.design section.content{
    position: relative;
    left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-template-rows: repeat(2, auto);
    justify-content: flex-end;
    width: 100vw;
    height: 100%;
    flex-wrap: nowrap;
}
.design .content .body-section{
    grid-column: 1;
}
.design .content .des-descript{
    grid-row: 2;
    grid-column: 1 / 4;
}

.design .body-section{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.design .body-section{
    writing-mode: vertical-rl;
    align-self: flex-end;
}

.design .poster img{
    width: (100vw / 3);
}

.design .poster .poster-hover{
    bottom: 0;
}

.design .poster .poster-hover p{
    color: #4F2C2C;
}







/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */



/* WEB */

section.web-design{
    position: relative;
}

.web-design .web-title{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.web-design .web-title .line-1{
    position: absolute;
}

.web-design a.see-more{
    color: #3D3D3D;
}
.web-design a.see-more:hover{
    color: #42E5BE;
}

.web-design section{
    display: flex;
    justify-content: space-between;
}




/* --------------------------------- web */

.web-design .web-section h3.postres span{
    color: #ffc2cf;
}

.web-design .web-section div.postres, .web-design .web-section embed{
    width: 100%;
}

.web-design .web-section div.postres{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.web-design .web-section img{
    width: 90%;
    height: min-content;
    object-fit: cover;
}



/* --------------------------------------- ux */

.web-design .ux-ui div{
    display: flex;
    justify-content: space-between;
}

.web-design .ux-ui span{
    color: #F79D3B;
    font-style: italic;
}

.ux-ui a.see-more{
    color: #3D3D3D;
}

.ux-ui a.see-more:hover{
    color: #F79D3B;
}






/* -------------------------------------------------------------------------------------------- */







/* ART */

.content.art{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content.art h1{
    align-self: flex-end;
}

.art .poster:hover{
    transition-delay: 1s;
}

.design .poster .poster-hover p{
    color: #3D3D3D;
}

.art img{
    width: 100%;
}

.art .body-section{
    width: 100%;
    background-color: #F9B800;
    text-align: end;
}

.art .body-section p{
    text-align: end;
}


.art .body-section a{
    color: #EF3581;
}

.art .see-more{
    color: #EF3581;
}

.art .see-more:hover{
    color: #FFF2BB;
}





/* OTHER PROJECTS ------------------------- */

.content.other-projects a.see-more{
    color: #7345A0;
}
.content.other-projects a.see-more:hover{
    color: #E6CAFC;
}

.other-projects section{
    display: flex;
    justify-content: space-between;
}

.other-projects .modeling-3d div{
    width: 100%;
    height: max-content;
}

.other-projects img{
    width: 100%;
}

.other-projects .modeling-3d img{
    height: 100%;
    object-fit: cover;
}

.other-projects .motion-graphs{
    display: flex;
    justify-content: space-between;
}

.other-projects .line-1{
    position: absolute;
    border-right: 2px solid #7345A0;
    border-top-color: #7345A0;
    height: 100%;
}






/* ------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */





/* MEDIA QUERY */

/* ----------------------------- movil */

@media screen and (max-width: 721px){

    /* SECTIONS */

    /* DESIGN */

    .design section.content{
        grid-template-columns: 1;
        grid-template-rows: repeat(4, auto);
        flex-wrap: wrap;
        align-items: center;
    }
    .design .content .body-section, .design .content .poster, .design .content .des-descript{
        grid-column: 1;
    }
    .design .content .poster:first-child{
        grid-row: 1;
    }
    .design .content .poster:last-child{
        grid-row: 2;
    }
    .design .content .body-section{
        grid-row: 3;
    }
    .design .content .des-descript{
        grid-row: 4;
    }

    .design .poster{
        width: 100vw;
        height: 100%;
        margin: 0;
    }
    .design .poster img{
        width: 100%;
        height: 100%;
    }
    .design .poster .poster-hover{
        width: 100%;
        height: 100%;
        margin: 0;
        padding-bottom: 0;
    }

    .poster-hover p{
        font-size: 1.5rem;
        margin: 15px 0;
    }

    section.design{
        margin-bottom: 80px;
    }

    .design .body-section{
        height: fit-content;
        writing-mode: horizontal-tb;
        padding: 80px 30px 15px;
    }
    
    .design .des-descript{
        padding: 0 30px 0 45px;
    }





    /* ------------------------------------------------------------------------ */



    /* WEB */

    section.web-design{
        padding: 80px 30px 120px 45px;
        width: 100vw;
        left: 0;
    }

    .web-design .web-title .line-1{
        width: 90px;
        right: 0;
        top: 30px;
    }

    .web-design h1{
        line-height: 0.8;
        margin-bottom: 30px;
    }

    .web-design section{
        margin-top: 35px;
        flex-direction: column;
    }

    .web-design .web-section, .web-design .ux-ui{
        width: 100%;
    }

    .web-design .web-section{
        margin-bottom: 40px;
    }

    .web-design .web-section div.postres{
        width: 100%;
        height: 200px;
        margin-bottom: 50px;
    }
    .web-design .web-section div.postres img{
        width: 100%;
    }

    .web-design .web-section embed{
        width: 100%;
        height: 350px;
    }

    .web-design .ux-ui img{
        width: 45%;
    }

    .web-design .ux-ui div{
        margin: 10px 0 30px;
    }




    
    /* -------------------------------------------------------------------------- */




    /* ART */

    .content.art{
        padding-top: 50px;
        margin-top: 100px;
    }

    .content.art h1{
        padding: 0 30px 0 45px;
    }

    .art .poster .poster-hover{
        top: 0;
    }

    .art .poster, .art .poster .poster-hover, .art .poster img{
        height: 100%;
    }

    .art .body-section div{
        padding: 20px 50px 50px;
    }

    .art .body-section div p{
        text-align: justify;
        text-justify: distribute;
    }





/* ------------------------------------------------------------------- */





    /* OTHER PROJECTS */

    .content.other-projects{
        width: 100vw;
        padding: 50px 30px 100px 45px;
    }

    .other-projects h1{
        font-size: 3.8rem;
        line-height: 0.8;
    }
    .other-projects h2{
        font-size: 1.8rem;
    }

    .other-projects section{
        flex-direction: column;
        margin-top: 30px;
    }

    .other-projects .modeling-3d, .other-projects .motion{
        width: 100%;
    }
    
    .other-projects .line-1{
        top: 85px;
        right: 8px;
        width: 90px;
    }
}



/* ----------------------------- tablet */

@media screen and (min-width: 721px){

    /* SECTIONS */

     /* DESIGN */

     section.design{
        margin-bottom: 80px;
    }

    .design .body-section{
        padding-left: 50px;
    }
    
    .design .des-descript{
        padding: 20px 20vw 0;
    }

    .design .poster-hover{
        height: 100%;
    }
    
    .poster-hover p{
        font-size: 1.5rem;
        margin: 15px 0;
    }

    .design .poster img{
        height: 100vh;
    }





    /* ------------------------------------------------------------------------ */



    /* WEB */

    section.web-design{
        padding: 80px 0 50px;
    }

    .web-design .web-title .line-1{
        width: 200px;
        left: 500px;
    }

    .web-design p.web-descript{
        padding-right: 100px;
    }

    .web-design section{
        margin-top: 35px;
    }

    .web-design .web-section{
        width: 55%;
    }

    .web-design .web-section div.postres, .web-design .web-section embed{
        height: 350px;
        margin: 10px;
    }

    .web-design .web-section div.postres{
        margin-bottom: 50px;
    }
    .web-design embed{
        height: 350px;
    }

    .web-design .ux-ui{
        width: 35%;
    }

    .web-design .ux-ui img{
        width: 45%;
    }

    .web-design .ux-ui div{
        margin: 10px 0 30px;
    }




    
    /* -------------------------------------------------------------------------- */




    /* ART */

    .content.art{
        padding-top: 120px;
        margin-top: 200px;
    }

    .art .poster .poster-hover{
        top: 100px;
    }

    .art .body-section div{
        padding: 20px 50px 50px;
    }





/* ------------------------------------------------------------------- */





    /* OTHER PROJECTS */

    .content.other-projects{
        padding-top: 100px;
    }

    .other-projects h1{
        font-size: 6rem;
    }
    .other-projects h2{
        font-size: 2.1rem;
    }

    .other-projects section{
        margin-top: 30px;
    }

    .other-projects .modeling-3d{
        width: 70%;
    }

    .other-projects .motion{
        width: 25%;
    }
    
    .other-projects .line-1{
        top: 170px;
        right: -80px;
        width: 280px;
    }
}

/* ----------------------------- laptop */

@media screen and (min-width: 1024px){

    /* SECTIONS */

    /* DESIGN */

    section.design{
        margin-bottom: 100px;
    }

    .design .body-section{
        padding-left: 0;
        padding-top: 0;
    }
    
    .design .body-section h1{
        margin-top: 120px;
    }

    .design .des-descript{
        padding: 20px 200px 0 280px;
    }
    
    .design .poster-hover{
        height: 100%;
    }
    
    .poster-hover p{
        font-size: 2.1rem;
        margin: 30px 0;
    }


    /* ------------------------------------------------------------------------ */

    /* WEB */

    section.web-design{
        padding: 80px 0 50px;
    }

    .web-design .web-title .line-1{
        width: 400px;
        left: 700px;
    }

    .web-design p.web-descript{
        padding-right: 170px;
    }

    .web-design section{
        margin-top: 35px;
    }

    .web-design .web-section{
        width: 55%;
    }

    .web-design .web-section div.postres, .web-design .web-section embed{
        height: 350px;
        margin: 10px;
    }

    .web-design .web-section div.postres{
        margin-bottom: 50px;
    }
    .web-design embed{
        height: 350px;
    }

    .web-design .ux-ui{
        width: 35%;
    }

    .web-design .ux-ui img{
        width: 45%;
    }

    .web-design .ux-ui div{
        margin: 10px 0 30px;
    }
    
    /* -------------------------------------------------------------------------- */


    /* ART */

    .content.art{
        padding-top: 120px;
        margin-top: 200px;
    }

    .art .poster .poster-hover{
        top: 100px;
    }

    .art .body-section div{
        padding: 50px;
    }

/* ------------------------------------------------------------------- */


    /* OTHER PROJECTS */

    .content.other-projects{
        padding-top: 100px;
    }

    .other-projects h1{
        font-size: 6rem;
    }
    .other-projects h2{
        font-size: 2.1rem;
    }

    .other-projects section{
        margin-top: 30px;
    }

    .other-projects .modeling-3d{
        width: 70%;
    }

    .other-projects .motion{
        width: 25%;
    }
    
    .other-projects .line-1{
        top: 170px;
        right: -80px;
        width: 620px;
    }
}



/* ----------------------------- Monitor */

@media screen and (min-width: 1580px){

    /* SECTIONS */

    /* DESIGN */

    section.design{
        margin-bottom: 100px;
    }

    .design .body-section h1{
        margin-top: 270px;
    }

    .design .des-descript{
        padding: 50px 500px 0 300px;
    }

    .design .poster-hover{
        height: 90%;
    }
    
    .poster-hover p{
        font-size: 2.5rem;
        margin: 50px 0;
    }

    /* ------------------------------------------------------ */


    /* WEB */

    section.web-design{
        padding: 100px 0 50px;
    }

    .web-design .web-title .line-1{
        width: 600px;
        left: 800px;
    }

    .web-design p.web-descript{
        padding-right: 150px;
    }

    .web-design section{
        margin-top: 50px;
    }

    .web-design .web-section{
        width: 55%;
    }

    .web-design .web-section div.postres, .web-design .web-section embed{
        height: 400px;
        margin: 10px;
    }

    .web-design .web-section div.postres{
        margin-bottom: 50px;
    }

    .web-design embed{
        height: 400px;
    }

    .web-design .ux-ui{
        width: 35%;
    }

    .web-design .ux-ui img{
        width: 48%;
    }

    .web-design .ux-ui div{
        margin: 10px 0 30px;
    }

    /* -------------------------------------------------------------------------- */


    /* ART */

    .content.art{
        padding-top: 150px;
        margin-top: 200px;
    }

    .art .poster .poster-hover{
        top: 200px;
    }

    .art .body-section div{
        padding: 50px;
    }

    /* ------------------------------------------------------------------- */


    /* OTHER PROJECTS */

    .content.other-projects{
        padding-top: 100px;
    }

    .other-projects h1{
        font-size: 8em;
    }
    .other-projects h2{
        font-size: 2.5em;
    }

    .other-projects section{
        margin-top: 50px;
    }

    .other-projects .modeling-3d{
        width: 70%;
    }

    .other-projects .motion{
        width: 25%;
    }
    
    .other-projects .line-1{
        top: 200px;
        right: -100px;
        width: 700px;
    }
}