/* COLORS */

.design h1, .design h2{ color: #72001e; }
.design p span.highlight{ color: #EF3581; }
.web-design h1, .web-design .line-1, .web-design p span.highlight{ color: #42E5BE; }
.web-design h2{ color:#464468; }
.art h1{ color: #F9B800; }
.art p span.highlight{ color: #FFF2BB; }
.other-projects h1{ color: #7345A0; }
.other-projects p span.highlight{ color: #ca39fb; }
.other-projects h2{ color: #464468; }


/* --------------------------------------------------------------------------------------- */



/* SECTIONS */

/* DESIGN  */

section.design{
    position: relative;
    height: fit-content;
}

.design section.content{
    position: relative;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.design .body-section{
    position: relative;
    flex-grow: 1;
}

.design .poster .poster-hover{
    bottom: 0;
}

.design .poster img{
    height: 100vh;
}





/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */



/* WEB */

section.web-design{
    position: relative;
}

.web-design .web-title{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.web-design .web-title .line-1{
    position: absolute;
}

.web-design a.see-more{
    color: #3D3D3D;
}
.web-design a.see-more:hover{
    color: #42E5BE;
}

.web-design section{
    display: flex;
    justify-content: space-between;
}




/* --------------------------------- web */

.web-design .web-section h3.postres span{
    color: #ffc2cf;
}

.web-design .web-section div.postres, .web-design .web-section embed{
    width: 100%;
}

.web-design .web-section div.postres{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.web-design .web-section img{
    width: 90%;
    height: min-content;
    object-fit: cover;
}



/* --------------------------------------- ux */

.web-design .ux-ui div{
    display: flex;
    justify-content: space-between;
}

.web-design .ux-ui span{
    color: #F79D3B;
    font-style: italic;
}

.ux-ui a.see-more{
    color: #3D3D3D;
}

.ux-ui a.see-more:hover{
    color: #F79D3B;
}






/* -------------------------------------------------------------------------------------------- */







/* ART */

.content.art{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content.art h1{
    align-self: flex-end;
}

.art .poster:hover{
    transition-delay: 1s;
}

.art img{
    width: 100%;
}

.art .body-section{
    width: 100%;
    background-color: #F9B800;
    text-align: end;
}

.art .body-section p{
    text-align: end;
}


.art .body-section a{
    color: #EF3581;
}

.art .see-more{
    color: #EF3581;
}

.art .see-more:hover{
    color: #FFF2BB;
}





/* OTHER PROJECTS ------------------------- */

.content.other-projects a.see-more{
    color: #7345A0;
}
.content.other-projects a.see-more:hover{
    color: #E6CAFC;
}

.other-projects section{
    display: flex;
    justify-content: space-between;
}

.other-projects .modeling-3d div{
    width: 100%;
    height: max-content;
}

.other-projects img{
    width: 100%;
}

.other-projects .modeling-3d img{
    height: 100%;
    object-fit: cover;
}

.other-projects .motion-graphs{
    display: flex;
    justify-content: space-between;
}

.other-projects .line-1{
    position: absolute;
    border-right: 2px solid #7345A0;
    border-top-color: #7345A0;
    height: 100%;
}






/* ------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */





/* MEDIA QUERY */

/* ----------------------------- laptop */

@media screen and (min-width: 1024px){

    /* SECTIONS */

    .web-design embed{
        width: 600px;
        height: 350px;
    }

    .art .body-section div{
        padding: 50px;
    }

    .other-projects h1{
        font-size: 6em;
    }
    .other-projects h2{
        font-size: 2.1em;
    }
}

/* ----------------------------- Monitor */

@media screen and (min-width: 1580px){

    /* SECTIONS */

    /* DESIGN */

    section.design{
        margin-bottom: 100px;
    }

    .design .body-section{
        margin-top: 500px;
        padding-left: 200px;
    }
    
    .design .body-section p{
        padding-right: 20px;
    }

    .design .poster-hover{
        height: 90%;
    }
    
    .poster-hover p{
        font-size: 2.5em;
        margin: 50px 0;
    }




    /* ------------------------------------------------------ */



    /* WEB */

    section.web-design{
        padding: 100px 0 50px;
    }

    .web-design .web-title .line-1{
        width: 600px;
        left: 800px;
    }

    .web-design p.web-descript{
        padding-right: 150px;
    }

    .web-design section{
        margin-top: 50px;
    }

    .web-design .web-section{
        width: 55%;
    }

    .web-design .web-section div.postres, .web-design .web-section embed{
        height: 400px;
        margin: 10px;
    }

    .web-design .web-section div.postres{
        margin-bottom: 50px;
    }

    .web-design embed{
        width: 650px;
        height: 400px;
    }

    .web-design .ux-ui{
        width: 35%;
    }

    .web-design .ux-ui img{
        width: 48%;
    }

    .web-design .ux-ui div{
        margin: 10px 0 30px;
    }




    /* -------------------------------------------------------------------------- */




    /* ART */

    .content.art{
        padding-top: 150px;
        margin-top: 200px;
    }

    .art .poster .poster-hover{
        top: 200px;
    }

    .art .body-section div{
        padding: 50px;
    }




    /* ------------------------------------------------------------------- */





    /* OTHER PROJECTS */

    .content.other-projects{
        padding-top: 100px;
    }

    .other-projects h1{
        font-size: 8em;
    }
    .other-projects h2{
        font-size: 2.5em;
    }

    .other-projects section{
        margin-top: 50px;
    }

    .other-projects .modeling-3d{
        width: 70%;
    }

    .other-projects .motion{
        width: 25%;
    }
    
    .other-projects .line-1{
        top: 200px;
        right: -100px;
        width: 700px;
    }
}